

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.switch-field {
	display: flex;
	margin-bottom: 16px;
	overflow: hidden;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 14px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: #ef4444;
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
	border-radius: 0 4px 4px 0;
}


.bg {
    width: 100%;
    height: 100vh;  /* Set a specific height */
    background: url(https://i.pinimg.com/564x/44/34/03/443403c1e80eccf8ec346965262fcc0d.jpg), rgba(0,0,0,0.95);
    
    background-size: cover;  /* Ensures the image covers the entire area */
    background-position: center;  /* Centers the image */
    background-repeat: no-repeat;  /* Prevents the image from repeating */
    

  }

  .card{

    width: 500px;
    height: 450px;
    background: rgba( 117, 105, 105, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  .form {
	max-width: 100%;
    padding:14px;
	font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
	font-weight: normal;
	line-height: 1.625;
	margin: 8px auto;
	padding-left: 16px;
	z-index: 2;
}
.location{
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 76%;
    border: 0;
    margin: 0 0 10px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
  }
  